div#LogoBar{
  display: none;
}

body#SurveyEngineBody {
  background-image: none !important;
  background: #fff !important;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  top: 0 !important;
}

#Header{
  display: none !important;
}

#TrialAccountFooter, #PreviewBanner{
  display: none;
}

.Skin #Header{
  background:none !important;
}

.SkinInner{
  width: 100%;
}

.SkinInner, .Questions, .QuestionOuter, .Inner.TB{
  margin: 0 !important;
  padding: 0 !important;
}

.strong{
  font-weight: bold;
}

.container, .intro-slide{
  min-height: 500px;
  position: relative;
}

fieldset{
  margin: 20px;
}

.text-center{
  text-align:center;
}

.show-image{
  margin: 20px auto;
}