div#LogoBar{
  display: none;
}

body#SurveyEngineBody {
  background-image: none !important;
  background: #fff !important;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
}

.Skin #Header{
  background:none !important;
}

.QuestionText.BorderColor{
  padding: 0;
  border: 0;
}

.center-header{
  text-align: center;
  font-size: 36px;
  background: #00AEEC;
  border: 2px solid #fff;
}
