div#LogoBar{
  display: none;
}

body#SurveyEngineBody {
  background-image: none !important;
  background: #fff !important;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
}

#Header{
  display: none !important;
}

#TrialAccountFooter{
  display: none;
}

.Skin #Header{
  background:none !important;
}

.SkinInner{
  width: 100%;
}

.SkinInner, .Questions, .QuestionOuter, .Inner.TB{
  margin: 0 !important;
  padding: 0 !important;
}

.strong{
  font-weight: bold;
}

fieldset{
  margin: 20px;
}