.QuestionText.BorderColor{
  padding: 0;
  border: 0;
}

.informative{
  font-size: 20px;
}

.informative .text-left{
  float: left;
  width: 55%;
}

.informative .text-left p{
  padding: 20px 40px;
  font-size: 20px;

}

.informative .text-right{
  position: absolute;
  right: 0;
  padding-left: 15px ;
  text-indent: -17px ;
  background: #17365D;
  color: #fff;
  font-size: 30px;
  min-height: 100%;
  width: 40%;
}

.informative .text-right div{
  position: absolute;
  top: 30%;
  padding: 20px;
}

