.QuestionText.BorderColor{
  padding: 0;
  border: 0;
}

.info-pic{
  font-size: 20px;
}

.info-pic .text-left{
  float: left;
  width: 50%;
}

.info-pic .text-left h2{
  color: #00AEEC;
  font-size: 22px;
  padding: 20px;
}

.info-pic .text-left p{
  padding: 20px;
}

.info-pic .dv-right{
  position: absolute;
  right: 0;
  background: url("https://cloud.githubusercontent.com/assets/12477798/11011518/5e1fd20e-84ae-11e5-82fc-343bdb3629dc.png") 10% 50% no-repeat;
  min-height: 90%;
  width: 40%;
}


.info-pic .can-right{
  position: absolute;
  right: 0;
  background: url("https://stcorbett.github.io/qualtrics-visuals/can-logo.png") 10% 50% no-repeat;
  min-height: 100%;
  width: 50%;
}

