.QuestionText.BorderColor{
  padding: 0;
  border: 0;
}

.info-pic{
  font-size: 20px;
}

.info-pic .text-left{
  float: left;
  width: 55%;
}

.info-pic .text-left h2{
  color: #00AEEC;
  font-size: 22px;
  padding: 20px;
}

.info-pic .text-left p{
 padding: 20px 40px 0px 40px;;
}

.info-pic .highlight{
  color: #00AEEC;
  font-weight: 700;
}

.info-pic .wrapper{
    position: absolute;
    font size: 0;
    top: 0px;
    right: 0;
    width: 35%;
    min-height: 100%;
  }
  
.info-pic .dv-right{
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: -30px;
    bottom: 0;
    background: url("https://cloud.githubusercontent.com/assets/12477798/11013700/7c2e096c-84dd-11e5-8bf6-40c5a7ee0a6a.png") 100% no-repeat;
    background-size: cover;
}
/*https://cloud.githubusercontent.com/assets/12477798/11011518/5e1fd20e-84ae-11e5-82fc-343bdb3629dc.png*/

.info-pic .stalk-right{
  position: absolute;
  right: 0;
  background: url("https://cloud.githubusercontent.com/assets/12477798/11022591/1988dba6-8628-11e5-9669-7bcaaaa5c43a.jpg") 10% 50% no-repeat;
  min-height: 100%;
  width: 50%;
}

