.QuestionText.BorderColor{
  padding: 0;
  border: 0;
}

.informative{
  font-size: 20px;
}

.informative .text-left{
  float: left;
  width: 55%;
}

.informative .text-left h2{
  color: #00AEEC;
  font-size: 22px;
  padding: 40px;
}

.informative .text-left p{
  padding: 40px;
}

.informative .text-right{
  position: absolute;
  right: 0;
  background: #17365D;
  color: #fff;
  font-size: 30px;
  min-height: 100%;
  width: 40%;
}

.informative .text-right div{
  position: absolute;
  top: 30%;
  padding: 20px;
}

