/* remove border that otherwise shows right under questions */
.QuestionText.BorderColor{
  padding: 0;
  border: 0;
}

.center-header{
  text-align: center;
  font-size: 36px;
  background: #00AEEC;
  color: #fff;

  position: absolute;
  top: 40%;
  left: 0;
  right: 0;

  padding: 5px 32px;
  border: 2px solid #fff;
  margin: 0;
}

.intro-slide{
  background-image: url("https://stcorbett.github.io/qualtrics-visuals/IMAG1580.jpg");
  background-size: cover;
}