.center-header{
  text-align: center;
  font-size: 36px;
  background: #00AEEC;
  border: 2px solid #fff;
  margin: auto 0;
  color: #fff;
}

.intro-slide{
  min-height: 500px;
  background-image: url("https://stcorbett.github.io/qualtrics-visuals/IMAG1580.jpg");
}