.QuestionText.BorderColor{
  padding: 0;
  border: 0;
}

.main-idea{
  font-size: 30px;
  position: absolute;
  /*top: 35%;*/
  /*padding: 0 150px;*/
  padding: 25% 15%;
 }

.main-idea .highlight{
  color: #00AEEC;
  font-weight: 700;
  }
