.QuestionText.BorderColor{
  padding: 0;
  border: 0;
}

.main-idea{
  font-size: 30px;
  position: absolute;
  /*top: 35%;*/
  /*padding: 0 150px;*/
 }

.main-idea div{
  height: 160px;
  text-align: center;
  vertical-align: middle;
  margin: auto;
  width: 80%;
}

/*.main-idea span{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;      
}*/

.main-idea .highlight{
  color: #00AEEC;
  font-weight: 700;
  }
