.QuestionText.BorderColor{
  padding: 0;
  border: 0;
}

.main-idea{
  font-size: 30px;
  font-weight: 600;
  position: absolute;
  top: 40%;
  padding: 0 30px;
}

.main-idea .highlight{
  color: #00AEEC;
  font-weight: 700;
}