.poster{
  background: #308198 url("https://cloud.githubusercontent.com/assets/12477798/11022136/ddcce2ac-861c-11e5-97f3-c7bebfc5b789.png") right bottom no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100%;
}

.poster p{
  font-size: 40px;
  margin-top: 4%;
  padding: 0px 10%;
  color: #fff;
  font-weight: 600;
}

.poster .subhead{
  font-size: 30px;
  color: #fff;
  font-weight: 600;
}


.poster .highlight{
  color: #FFFF0B;
}
