.poster{
  background: #308198 url("https://cloud.githubusercontent.com/assets/12477798/11018067/93b015d6-857c-11e5-9038-0cb87d46f632.PNG") right bottom no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100%;
}

/*.poster{
   background: #308198 url("https://stcorbett.github.io/qualtrics-visuals/uic-logo.gif") right bottom no-repeat;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   min-height: 100%;
 }*/

/* the old logo https://stcorbett.github.io/qualtrics-visuals/uic-logo.gif */

.poster p{
  font-size: 40px;
  margin-top: 4%;
  padding: 0px 10%;
  color: #fff;
  font-weight: 600;
}

.poster .subhead{
  font-size: 30px;
  color: #fff;
  font-weight: 600;
}

.poster .highlight{
  color: #FFFF0B;
}
