.poster{
  background: #308198 url("https://stcorbett.github.io/qualtrics-visuals/uic-logo.gif") right bottom no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100%;
}

.poster p{
  font-size: 40px;
  margin-top: 5%;
  padding: 0px 10%;
  color: #fff;
  font-weight: 600;
}

.poster .subhead{
  font-size: 30px;
  padding: 0px 10%;
  color: #fff;
  font-weight: 600;
}

.poster .highlight{
  color: #FFFF0B;
}
